---
import { getCollection } from "astro:content";
import ZenLayout from "@layouts/ZenLayout.astro";
import SiteHeader from "@components/SiteHeader.astro";
import PageHeader from "@components/PageHeader.astro";
import { PROJECTS } from "@consts";

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft && !project.id.includes("/"))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<ZenLayout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <SiteHeader active="projects" />

  <PageHeader title="Projects" description="This is a space for my daily programming/hacking notes. It's organized into projects to avoid a long list of disconnected notes." />

  <section>
    {projects.map((project) => (
      <>
        <h3 class="entry-title">
          <a href={`/projects/${project.id}`}>{project.data.title}</a>
        </h3>
        <p class="entry-desc">{project.data.description}</p>
      </>
    ))}
  </section>
</ZenLayout>

<style>
  section :global(.entry-title:first-of-type) {
    margin-top: 0;
  }
</style>
